<div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm">
  <h5 class="my-0 mr-md-auto font-weight-normal">
    <%= link_to "Game", root_url %>
  </h5>
    <nav class="my-2 my-md-0 mr-md-3">

    <% if user_signed_in? && current_user.role == "admin" %>
     <%= link_to "All users", users_url, class: "p-2 text-dark" %>
    <% end %>
    <a class="p-2 text-dark" href="#">Enterprise</a>
    <a class="p-2 text-dark" href="#">Support</a>
    <a class="p-2 text-dark" href="#">Pricing</a>
  </nav>
  <% if user_signed_in? %>
    <div class="navbar-currentuser">
      <% if current_user.image.present? %>
        <div style="width:50px; float:left">
          <%= image_tag(current_user.image, style: 'width:100%') %>
        </div>
      <% end %>
      <%= link_to current_user.email, user_path(current_user) %>
    </div>
    <%= link_to "Sign out", sign_out_url, class: "btn btn-outline-primary" %>
    <% elsif %>
    <%= link_to "Sign in", sign_in_url, class: "btn btn-outline-primary" %>
    <%= link_to "Sign up", new_user_registration_url, class: "btn btn-outline-primary" %>
  <% end %>
</div>
